<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="input-container">
                <textarea id="input-text" placeholder="Enter text here..."></textarea>
            </div>
            <div class="button-container">
                <button id="analyze-button">Get result</button>
            </div>
            <div class="output-container">
                <div id="output-text" class="output-text" placeholder="The result will appear here..."></div>
            </div>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>



